@tailwind base;
@tailwind components;
@tailwind utilities;

.stats {
  @apply bg-[#1D1D1D] col-span-1 h-full w-full rounded-xl p-5 text-left min-w-[200px];
}

.stats h2 {
  @apply text-[30px] leading-7 font-bold;
}

.stats h3 {
  @apply text-[16px] leading-7 text-[#848484];
}

.nowrapHeader {
  white-space: nowrap !important;
}

/* Test */
.carouselContainer {
  position: relative;
  @apply h-full w-full;
  overflow: hidden;
  z-index: 0;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 5%,
    black 90%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 5%,
    black 90%,
    transparent
  );
}

/* ! THIS NEEDS SOME SLIGHT REWORKING, IT KIND OF JUMPS AROUND WHEN IT RESTARTS THE ANIMATION */

.carouselTrack {
  display: flex;
  @apply h-full;
  animation: scroll 30s linear infinite;
}

.carouselContainer:hover .carouselTrack {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
